.navbar {
  min-height: 10vh;
  background-color: #f2f2f2 !important;
}
.link {
  border-bottom: 3px solid transparent;
}
.link:hover {
  border-bottom: 3px solid #33ccff;
}
.navbar {
  background-color: #f2f2f2;
}
.dropdown-toggle {
  border: 0.5px solid transparent;
  background-color: #d9d9d9 !important;
  margin: 6.2px !important;
  border-radius: 20px !important;
}
.dropdown-toggle:hover {
  border: 0.5px solid transparent;
  background-color: #33ccff !important;
  border-radius: 20px;
}
.brand-link {
  text-decoration: none;
}
