@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&family=Source+Code+Pro:wght@700&display=swap");
body {
  font-family: "Roboto Mono", monospace !important;
  font-family: "Source Code Pro", monospace !important;
  font-size: 15px !important;
}
/* -------------------------------------------------------------------------- */
/*                                   SignUp                                   */
/* -------------------------------------------------------------------------- */
.loginmain {
  min-height: 80vh;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
.loginbutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 0;
}
.loginbutton:hover {
  padding: 8px;
  background-color: #33ccff;
  border-radius: 15px;
}

.form {
  background-color: #f2f2f2;
  border-radius: 20px;
  -webkit-box-shadow: 6px 5px 14px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 5px 14px 4px rgba(0, 0, 0, 0.25);
}
.modal-body {
  border-radius: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                    LogIn                                   */
/* -------------------------------------------------------------------------- */
.loginmain {
  min-height: 80vh;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
.loginbutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.loginbutton:hover {
  background-color: #33ccff;
  border-radius: 15px;
}
.img {
  z-index: -1;
}
/* -------------------------------------------------------------------------- */
/*                                   Portal                                   */
/* -------------------------------------------------------------------------- */
.portalmain {
  height: 80vh;
  background-color: transparent !important;
}
.portalframework {
  z-index: 1;
  height: 75vh;
  width: 80%;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.divimage {
  z-index: 0;
  position: absolute;
  background-image: url("../img/image5.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 400px;
  height: 500px;
  border: none;
}
.btn-delete {
  border: 1.5px solid rgb(240, 58, 58);
  background: white;
  border-radius: 15px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.btn-delete:hover {
  background: rgb(240, 58, 58);
  border: 1.5px solid transparent;
  border-radius: 5px;
}
.editbutton {
  border: 1.5px solid rgb(58, 240, 104);
  background: white;
  border-radius: 15px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.editbutton:hover {
  background: rgb(58, 240, 104);
  border: 1.5px solid transparent;
  border-radius: 5px;
}
.watchbutton {
  border: 1.5px solid rgb(240, 207, 58);
  background: white;
  border-radius: 15px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.newbutton:hover {
  background: rgb(58, 113, 240);
  border: 1.5px solid transparent;
}
.newbutton {
  border: 1.5px solid rgb(58, 113, 240);
  background: white;
  border-radius: 15px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.watchbutton:hover {
  background: rgb(240, 207, 58);
  border: 1.5px solid transparent;
  border-radius: 5px;
}
caption {
  backdrop-filter: blur(1.5px);
  background-color: rgba(237, 250, 117, 0.3);
  border-radius: 15px;
}
.toggle-div {
  border-radius: 15px;
  backdrop-filter: blur(1.5px);
  background-color: rgba(117, 234, 250, 0.3);
}
/* -------------------------------------------------------------------------- */
/*                               ChooseResource                               */
/* -------------------------------------------------------------------------- */
.chooseresourcemain {
  min-height: 80vh;
  margin: 0 !important;
  padding: 0 !important;
}
.chooseframework {
  border-radius: 15px;
  backdrop-filter: blur(1px);
}
.basicbutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.basicbutton:hover {
  background-color: #33ccff;
  border-radius: 15px;
}
/* -------------------------------------------------------------------------- */
/*                                 NewResource                                */
/* -------------------------------------------------------------------------- */
.newresourcemain {
  min-height: 80vh;
  margin: 0 !important;
  padding: 0 !important;
}
.savebutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 60px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.savebutton:hover {
  background-color: #33ccff;
  border-radius: 5px;
}
/* -------------------------------------------------------------------------- */
/*                               watch resources                              */
/* -------------------------------------------------------------------------- */
.watchmain {
  min-height: 80vh;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 15px;
}
.watchframework {
  height: 75vh;
  width: 80%;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  z-index: 1;
}
.buttondiv {
  backdrop-filter: blur(1.5px);
  background-color: rgba(237, 250, 117, 0.3);
  border-radius: 15px;
}
.scrolldiv {
  max-height: 83%;
  width: 100%;
  overflow-y: auto;
  overflow-y: scroll;
  border-radius: 20px;
}
.newsimage {
  width: 300px !important;
  height: 300px !important;
  border-radius: 20px;

  margin: 10px;
  object-fit: cover;
  transition: box-shadow 0.5s, transform 0.5s;
}
.newsimage:hover {
  transform: translate(0px, -1px);
  width: 300px !important;
  height: 300px !important;
  border-radius: 20px;
  -webkit-box-shadow: 6px 5px 14px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 5px 14px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  object-fit: cover;
}
.newsmain {
  min-width: 100% !important;
  min-height: 300px;
}
.card {
  backdrop-filter: blur(1.5px) !important;
  background-color: rgba(195, 195, 195, 0.3) !important;
  border-radius: 15px !important;
}

.backbutton {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 10px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.backbutton:hover {
  background-color: rgb(240, 207, 58);
  border-radius: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                   loading                                  */
/* -------------------------------------------------------------------------- */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #33ccff; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------------------------- */
/*                                  MainNews                                  */
/* -------------------------------------------------------------------------- */
.Mainframework {
  max-height: 300px;
}
.scrollmainnews {
  height: 645px !important;
  width: 100%;
  overflow-y: auto;
  overflow-y: scroll;
  border-radius: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                  blur div                                  */
/* -------------------------------------------------------------------------- */
.blurEffect {
  backdrop-filter: blur(1.5px) !important;
  border-radius: 15px !important;
}

/* -------------------------------------------------------------------------- */
/*                           NewsByCategoryframework                          */
/* -------------------------------------------------------------------------- */

.NewsByCategoryframework {
  min-height: 80vh;
  width: 100%;
}
/* -------------------------------------------------------------------------- */
/*                             scrollNewsByCategory                            */
/* -------------------------------------------------------------------------- */
.scrollNewsByCategory {
  height: 83%;
  width: 100%;
  overflow-y: auto;
  overflow-y: scroll;
  border-radius: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                   buttons                                   */
/* -------------------------------------------------------------------------- */
.outlinebutton {
  border: 1.5px solid rgb(58, 113, 240);
  background: white;
  border-radius: 15px;
  padding: 8px;
  transition: border-radius 0.3s;
}
.outlinebutton:hover {
  background: rgb(58, 113, 240);
  border: 1.5px solid transparent;
}
.shrinkbuttonred {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.shrinkbuttonred:hover {
  background-color: #fd6666;
  border-radius: 15px;
}
.shrinkbuttonyellow {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.shrinkbuttonyellow:hover {
  background-color: #fdff72;
  border-radius: 15px;
}
.shrinkbuttonblue {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.shrinkbuttonblue:hover {
  background-color: #78b7ff;
  border-radius: 15px;
}

.shrinkbuttongreen:hover {
  background-color: #a3ffa3;
  border-radius: 15px;
}
.shrinkbuttongreen {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}

.shrinkbuttonpurple {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}

.shrinkbuttonpurple:hover {
  background-color: #a778ff;
  border-radius: 15px;
}
.shrinkbuttonskyblue {
  background-color: #d9d9d9;
  border: 0.5px solid transparent;
  border-radius: 5px;
  padding: 8px;
  transition: border-radius 0.5s;
}
.shrinkbuttonskyblue:hover {
  background-color: #33ccff;
  border-radius: 15px;
}
